#loyaltymember{
    display: none;
}
#loyaltymember .member-notification-container--top-right {
    top: 85px;
    right: 0;
    margin-right: 24px;
}
#loyaltymember .member-notification-container {
    z-index: 1000000004;
    position: fixed;
    width: 335px;
    max-width: calc(100% - 48px);
}
#loyaltymember * {
    margin: 0;
        margin-right: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
        line-height: inherit;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
    box-sizing: border-box;
    -webkit-transform: none;
    transform: none;
    position: static;
    color: inherit;
    opacity: 1;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
    text-align: inherit;
    text-shadow: none;
    box-shadow: initial;
    background: initial;
    width: auto;
    word-break: normal;
    height: unset;
}
#loyaltymember .member-notification {
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    line-height: 1.5;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 10px;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}
#loyaltymember .member-notification__content {
    padding: 16px;
}
#loyaltymember .member-notification--guest-introduction .member-notification__message, #loyaltymember .member-notification--campaign .member-notification__message {
    cursor: default;
}
#loyaltymember .member-notification__message {
    font-size: 1.6em;
}
#loyaltymember .member-notification__action {
    padding-top: 15px;
}
#loyaltymember .member-notification__action-button {
    font-size: 1.6em;
}
.member-action-button, #loyaltymember .member-action-button {
    background: #4F9789;
    color: #fff;
    padding: 9px 15px;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: none;
}
#loyaltymember .member-notification__close-button {
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 10px;
    z-index: 1000000005;
}

.container_iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 50%; /* 1:1 Aspect Ratio */
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
.ifram_modal_button{
    display: block;
    position: fixed;
}
.member-notification-container-popup{
    margin-right: 24px;
    left: -58px;
    bottom: 20%;
    z-index: 1000000004;
    position: fixed;
    width: 159px;
}
.member-notification-popup{
    border-radius:0 0 17px 17px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    line-height: 1.5;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 10px;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
    transform: rotate(270deg);
    cursor: pointer;
}
.member-notification__content-popup{
    padding: 10px;
}
.member-notification__content-popup p{
    color: green;
}